[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-extensions = "*"
model-bakery = "*"
python-dotenv = "*"
sendgrid = "*"
pyjwt = "*"
djangorestframework-camel-case = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
tox = "*"

[requires]
python_version = "3.8"
