<!DOCTYPE html>
<html lang="es" style="height:100%; margin: 0; font-family: Arial, Helvetica, sans-serif;">
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="height:100%; margin: 0; font-family: Arial, Helvetica, sans-serif;">
        <div style="height: 100%; background: #EEEEEE;">
            <div style="height: 50%; position: relative; margin: 0 auto; top: 23%; background: white; border: 1px solid #BDBDBD; border-radius: 5px; text-align: center;">
                <div>
                    <p style="font-size: 60px; font-weight: bold; color: #673AB7; text-shadow: 3px 3px 2px rgb(149, 117, 205, 0.4);">youML</p>
                </div>
                <div style="padding: 2rem;">
                    <p>Para completar su registro necesitamos verificar su dirección de correo electrónico.</p>
                    <div style="padding-top: 2rem;">
                        <a href="URL_VERIFICATION_ENDPOINT" target="_blank" style="display: block; width: 12rem; height: 3rem; line-height: 3rem; margin: 0 auto; background: #D4E157; color:black; border: none; border-radius: 2px; text-transform: uppercase; text-decoration: none; cursor: pointer;">Verificar</a>
                    </div>
                </div>
                <div style="width: 100%; position: absolute; bottom: 0; text-align: center;">
                    <p><strong>Copyright &copy; youML - Todos los derechos reservados 2022 - ACTUAL_YEAR</strong></p>
                </div>
            </div>
        </div>
    </body>
</html>
